p
{
    color: #777777;
}
.animated-button {
    background-color: #ff4f4f;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .animated-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 0;
  }
  
  .animated-button:hover::before {
    animation: ripple 1s ease-out forwards;
  }
  
  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 1;
    }
  }
#row{
    background-color: #feeae9;
}
.row{
    background-color: white;
}
.container{
    padding-top: 10px;
    padding-bottom: 30px;
}
#mid{
    padding:20%;
}
#money{
    color: #ff4f4f;
}
.column {
  background-color: #f2f2f2;
  padding: 10px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgb(255, 60, 60);
}
.cat2{
    background-color: rgb(39, 97, 255);
}
.cat3{
    background-color: rgb(255, 255, 66);
}
.gap{
    background-color: white;
}
h1{
    color: #ffffff;
}
.Mid{
    padding: 5% 20%;
}
.categories img{
    width: 100px;
}
.bottom{
    height: 50%;
    background-color: #feeae9;
}
.bottomEmail{
    padding: 5% 20%;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
#blackFont h1{
    color: black;
}